@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .custom-scrollbar::-webkit-scrollbar{
        width: 4px !important;
    }
    .custom-scrollbar::-webkit-scrollbar-track{
        background: transparent !important;
    }
    .custom-scrollbar::-webkit-scrollbar-thumb{
        background-color: #a5b4fc !important;
        width: 5px !important;
        border-radius: 10px !important;
    }


    .custom-scrollbar-dark::-webkit-scrollbar-thumb{
        background-color: #312e81 !important;
    }
}